{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create a new list to start storing recipes as list</legend>
        <div class="form-group">
          {{ form.list_title.label(class="form-control-label") }}
          {{ form.list_title(class="form-control form-control-lg") }}
        </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info")}}
    </div>
  </form>
</div>




{% endblock content%}
