{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <legend class="border-bottom mb-4">Grocery List</legend>
  {% for post in posts %}
      <p class="article-content">
          <a class="mr-2" href="#">{{ post.name }}</a>
      </p>
  {% endfor %}
  <form method="POST" action="{{ url_for('list') }}">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        
        <div class="form-group">
          {{ form.recipe_url.label(class="form-control-label") }}
          {{ form.recipe_url(class="form-control form-control-lg") }}
        </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info")}}
    </div>
  </form>

</div>



{% endblock content%}
