@import url('https://fonts.googleapis.com/css?family=Avenir:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
body {
  background: #fafafa;
  color: #333333;
  margin-top: 6.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3d42;
  font-family: "Avenir", sans-serif;

}

.carousel-caption p{
  color: #ffffff;
}

.bg-steel {
  background-color: #3b3d42
}

.site-header .navbar-brand{
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Yellowtail", cursive;
}

.site-header .navbar-nav .nav-link {
  color: #ffd299;
  font-family: "Avenir", sans-serif;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  font-family: "Avenir", sans-serif;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;

}

.content-section {
  background: #ffffff;
  font-family: "Avenir", sans-serif;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #ffd299;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #ffd299;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Buttons */
.card, .btn, .form-control { border-radius: 0; }

/* Calendar CSS  */
.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}


/* Times */
.agenda .agenda-time { width: 140px; }


/* Events */
.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }

@media (max-width: 767px) {

}
