{% extends "layout.html" %}
{% block content %}
<div class="container">

<h2>Agenda</h2>
    <p class="lead">
        This agenda viewer will let you see multiple events cleanly!
    </p>
    <hr />

    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Recipe</th>
                    </tr>
                </thead>
                <tbody>
                  {% for rwd in recipes_with_dates %}
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">{{ rwd.plan_date.strftime('%d') }}</div>
                            <div class="dayofweek">{{ rwd.plan_date.strftime('%A') }}</div>
                            <div class="shortdate text-muted">{{ rwd.plan_date.strftime('%B, %Y')}}</div>
                        </td>
                        <td class="agenda-time">
                            {{ rwd.plan_date.strftime('%-H:%M')}}
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                {{ rwd.name}}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content%}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h5>ADD RECIPE</h5>
    <p class='text-muted'> Assign saved recipes to your calendar</p>
      <form method="POST" action="{{ url_for('delete') }} ">
        <input type="hidden" name="list" value="{{ list_id }}">
        <div class="form-group">
          <label for="sel1">Recipes:</label>
          <select class="form-control" id="sel1" name="recipe" required>
            <option value="">Select</option>
            {% for recipe in select_form.selected_recipe.choices %}
              <option value='{{ recipe.id }}'>{{ recipe.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          {{ select_form.submit(class="btn btn-outline-secondary") }}
        </div>
      </form>

              <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker1').datetimepicker();
                  });
              </script>
          </div>
      </div>
      
  </div>
</div>
{% endblock sidebar %}
