{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <legend class="border-bottom mb-4">{{ list.list_title }}</legend>
  <h6>Canned Goods</h6>
  {% for item in items %}
    {% if item.category.id == 2 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Frozen Foods</h6>
  {% for item in items %}
    {% if item.category.id == 3 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Meat</h6>
  {% for item in items %}
    {% if item.category.id == 4 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Dairy/Eggs</h6>
  {% for item in items %}
    {% if item.category.id == 5 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Bakery</h6>
  {% for item in items %}
    {% if item.category.id == 6 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Beverages</h6>
  {% for item in items %}
    {% if item.category.id == 7 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Produce</h6>
  {% for item in items %}
    {% if item.category.id == 8 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Cooking/Baking</h6>
  {% for item in items %}
    {% if item.category.id == 9 %}
      <div class="checkbox">
        <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
      </div>
    {% endif %}
  {% endfor %}
  <br><hr />
  <h6>Other</h6>
    {% for item in items %}
      {% if item.category.id == 1 %}
        <div class="checkbox">
          <label><input type="checkbox" name="packersOff" class="strikethrough" value="1"><span>{{ item.name }}</span></label>
        </div>
      {% endif %}
    {% endfor %}
</div>

{% endblock content%}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h5>MANAGE LIST</h5>
    <hr />
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <div class="form-group">
            {{ additional_item.new_item.label(class="form-control-label") }}
            {{ additional_item.new_item(class="form-control form-control-lg") }}
          </div>
      </fieldset>
      <div class="form-group">
        {{ additional_item.submit_item(class="btn btn-outline-secondary") }}
      </div>
    </form>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <div class="form-group">
            {{ form.recipe_url.label(class="form-control-label") }}
            {{ form.recipe_url(class="form-control form-control-lg") }}
          </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-secondary") }}
      </div>
    </form>
    <br>
    <hr />
    <form method="POST" action="{{ url_for('delete') }} ">
      <input type="hidden" name="list" value="{{ list_id }}">
      <div class="form-group">
        <label for="sel1">Delete a recipe:</label>
        <select class="form-control" id="sel1" name="recipe" required>
          <option value="">Select</option>
          {% for recipe in delete_recipe.selected_recipe.choices %}
            <option value='{{ recipe.id }}'>{{ recipe.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        {{ delete_recipe.delete(class="btn btn-outline-danger") }}
      </div>
    </form>
  </div>
</div>
{% endblock sidebar%}
