{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <legend class="border-bottom mb-4">MY LISTS</legend>
  <ul>
    {% for list in lists %}
        <li>
            <a class="mr-2" href="/mylists/list/{{list.id}}">{{ list.list_title }}</a>
        </li>
    {% endfor %}
  </ul>
</div>
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">CREATE NEW LIST</legend>
        <div class="form-group">
          {{ form.list_title.label(class="form-control-label") }}
          {{ form.list_title(class="form-control form-control-lg") }}
        </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-secondary")}}
    </div>
  </form>
</div>
{% endblock content%}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h5>FILTER INGREDIENTS</h5>
    <p class='text-muted'> Add items to be filtered out
      <ul class="list-group">
        {% for filter in filters %}
        <li class="list-group-item list-group-item-light">
          {{ filter.name }}
        </li>
      </ul>
      {% endfor %}
    </p>
    <form method="POST" action="">
      {{ filter_form.hidden_tag() }}
      <fieldset class="form-group">
          <div class="form-group">
            {{ filter_form.filter_item.label(class="form-control-label") }}
            {{ filter_form.filter_item(class="form-control form-control-lg") }}
          </div>
      </fieldset>
      <div class="form-group">
        {{ filter_form.submit(class="btn btn-outline-secondary") }}
      </div>
    </form>
  </div>
</div>
{% endblock sidebar %}
